@-webkit-keyframes progress {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -75px 0;
    }
}

@-moz-keyframes progress {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -75px 0;
    }
}

@-ms-keyframes progress {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -75px 0;
    }
}

@keyframes progress {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -70px 0;
    }
}
.dropZone {
    position: relative;
    width: 100%;
    min-height: 250px;
    background-color: #F0F0F0;
    border: dashed;
    border-color: #C8C8C8;
    cursor: pointer;
    box-sizing: border-box;
}
.dropZone.stripes{
    border: solid;
    background-image: repeating-linear-gradient(-45deg, #F0F0F0, #F0F0F0 25px, #C8C8C8 25px, #C8C8C8 50px);
    -webkit-animation: progress 2s linear infinite !important;
    -moz-animation: progress 2s linear infinite !important;
    animation: progress 2s linear infinite !important;
    background-size: 150% 100%;
}
.dropZone.rejectStripes{
    border: solid;
    background-image: repeating-linear-gradient(-45deg, #fc8785, #fc8785 25px, #f4231f 25px, #f4231f 50px);
    -webkit-animation: progress 2s linear infinite !important;
    -moz-animation: progress 2s linear infinite !important;
    animation: progress 2s linear infinite !important;
    background-size: 150% 100%;
}